<div class="container">
  <div class="row">
    <h3>Edit item: <strong><%= @todo.id.to_s %></strong></h3>
  </div>
  <div class="row">
    <%= render 'form' %>
  </div>
  <div class="row">
    <div class="col s4 m2 xl1 offset-m1 offset-xl2 center">
      <%= render 'button_show' %>
    </div>
    <div class="col s4 m2 center">
      <%= render 'button_destroy' %>
    </div>
    <div class="col s4 m2 xl1 center">
      <%= render 'button_index' %>
    </div>
  </div>
</div>
