<div class="container">
  <div class="row valign-wrapper">
    <div class="col s8">
      <h3 class="header">Your To-Do List</h3>
    </div>
    <div class="col s4">
      <%= link_to 'New To-Do Item', new_todo_path, class: 'btn waves-effect waves-light right' %>
    </div>
  </div>
  <div class="row">
    <table class="highlight">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @todos.each do |todo| %>
          <tr>
            <td><%= todo.id.to_s %></td>
            <td><%= link_to todo.name, todo_path(todo) %></td>
            <td><%= truncate(todo.description, length: 100) %></td>
            <td>
              <%= link_to todo_path(todo),
                          :class => 'tooltipped',
                          :"data-tooltip" => 'Show To-Do Item',
                          :"data-position" => 'bottom' do %>
                <i class="material-icons">visibility</i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_todo_path(todo),
                          :class => 'tooltipped',
                          :"data-tooltip" => 'Edit To-Do Item',
                          :"data-position" => 'bottom' do %>
                <i class="material-icons">edit</i>
              <% end %>
            </td>
            <td>
              <%=
                link_to todo_path(todo),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        :class => 'tooltipped',
                        :"data-tooltip" => 'Delete To-Do Item',
                        :"data-position" => 'bottom' do %>
                <i class="material-icons">delete</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
