<% content_for(:html_title) { @todo.name } %>
<div class="container">
  <div class="row">
    <h3 class="header">To-Do item: <%= @todo.id.to_s %></h3>
  </div>
  <div class="row">
    <div class="col s12 m8">
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle">title</i>
          <span class="title"><strong>Name</strong></span>
          <p><%= @todo.name.to_s %></p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">subject</i>
          <span class="title"><strong>Description</strong></span>
          <p><%= @todo.description.to_s %></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row hide-on-med-and-down">
    <div class="col s4 m2 xl1 offset-m1 offset-xl2 center">
      <%= render 'button_edit' %>
    </div>
    <div class="col s4 m2 center">
      <%= render 'button_destroy' %>
    </div>
    <div class="col s4 m2 xl1 center">
      <%= render 'button_index' %>
    </div>
  </div>
  <div class="fixed-action-btn hide-on-large-only">
    <a class="btn-floating btn-large waves-effect">
      <i class="material-icons">more_vert</i>
    </a>
    <ul>
      <li><%= render 'button_edit',   tooltip_pos: 'left' %></li>
      <li><%= render 'button_destroy', tooltip_pos: 'left' %></li>
      <li><%= render 'button_index',  tooltip_pos: 'left' %></li>
    </ul>
  </div>
</div> 
