<header>
  <ul id="nav-dropdown" class="dropdown-content">
    <% Todo.all.each do |todo| %>
      <li><%= link_to "#{todo.id}: #{todo.name}", todo_path(todo) %></li>
      <li class="divider"></li>
    <% end %>
    <li><%= link_to 'All To-Do Items', todos_path %></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo left">&nbsp; ToDo App</a>
      <ul class="right">
        <li>
          <%= link_to root_path do %>
            <i class="material-icons">home</i>
          <% end %>
        </li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Help', help_path %></li>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="nav-dropdown">
            To-Do Items <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
