<header>
  <ul id="nav-dropdown" class="dropdown-content">
    <% Todo.all[0..4].each do |todo| %>
      <li><%= link_to "#{todo.id}: #{truncate(todo.name, length: 40)}", todo_path(todo) %></li>
      <li class="divider"></li>
    <% end %>
    <li><%= link_to todos_path do %><i class="material-icons">list</i><br />To-Do List<% end %></li>
    <li class="divider"></li>
    <li><%= link_to new_todo_path do %><i class="material-icons">create</i><br />New To-Do item<% end %></li>
  </ul>
  <ul id="mobile-nav" class="sidenav">
    <li><h3 class="center"> ToDoList </h3></li>
    <li><%= link_to root_path do %><i class="material-icons inline">home</i> Home<% end %></li>
    <li><%= link_to about_path do %><i class="material-icons inline">info</i> About<% end %></li>
    <li><%= link_to help_path do %><i class="material-icons inline">help</i> Help<% end %></li>
    <li><%= link_to todos_path do %><i class="material-icons inline">list</i> To-Do List<% end %></li>
    <li><%= link_to new_todo_path do %><i class="material-icons inline">create</i> New To-Do Item<% end %></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <%= link_to root_path, class: 'brand-logo left' do %>&nbsp; ToDoList<% end %>
      <a class="sidenav-trigger right" data-target="mobile-nav" onclick="openSideNav();"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to root_path do %>
            <i class="material-icons">home</i>
          <% end %>
        </li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Help', help_path %></li>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="nav-dropdown">
            To-Do Items <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <script>
    function openSideNav() {
      var instance = M.Sidenav.getInstance(document.querySelector('.sidenav'));
      instance.open();
    }
  </script>
</header>
