<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= 
        [
          (yield(:html_title) if content_for?(:html_title)),
          params[:action].capitalize,
          'ToDoList'
        ].compact.join(' | ')
      %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>          <!-- don't have to include _ prefix here -->
    <main>
      <%= render 'layouts/messages' %>           <!-- no need to specify file type either! -->
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/scripts' %>
  </body>
</html>
